@charset "UTF-8";

/* 回答はここに書いてね */
.q6__box__text {
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
  text-align: center;
}

.q6__box__ta .q6__box__text {
  display: inline-block;
}

.q6__box__ta {
  text-align: center;
}

.q6__box__ma .q6__box__text {
  margin: 0 auto;
}

.is-table {
  display: table;
}

.q6--around--box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.t-text,
.f-text {
  padding: 10px;
  background-color: #fff;
}

.t-text {
  display: inline-block;
}

.is-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-stable,
.is-flexible {
  position: relative;
}

.is-stable .q6__box__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.is-flexible .q6__box__inner {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
